body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
html{
    font-family: system-ui;
}


.game-container{
    height: 100%;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
}

.item{
    border: solid black 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
    caret-color: transparent;
    user-select: none;
}



.item.not-selected:hover{
    div{
        opacity: 0.5;
    }
}

.item:hover{
    cursor: pointer;
}
